
<div class="booyah-box col-10 offset-1">
  <h1><%= @post.name %></h1>
  <i><%= @post.body %></i>
  <br/>
    <% if current_user && current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <br/>
  <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'}, color: 'red' %>
    <% end %>
</div>
<br/>
<div class="clear col-10 offset-1">
  <%= simple_form_for @comment, url: post_comment_path(@post) do |f| %>
  <h3> Add a comment </h3>
    <%= f.input :message %>
    <%= f.submit "Add comment", class: 'btn btn-primary' %>
  <% end %>
</div>